{% extends 'social/base.html' %}
{% load widget_tweaks %}
{% block content %}
    <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="row ">
            <div class="col-6">
                <label for="autor" > Autor:
                    {% render_field form.autor_postagem type='text' required='required' name='autor' %}
                </label>
                <label for="dia">Data da Postagem:
                    {% render_field form.data_postagem type='datetime-local' required='required' name='dia' %}
                </label>
                <label for="titulo">Título:
                    {% render_field form.titulo_postagem type='text' required='required' name='titulo' %}
                </label>


            </div>
            <div class="col-6">
                <label for="conteudo">Conteúdo:
                    {% render_field form.conteudo_postagem type='text' required='required' name='conteudo' %}
                </label>
                <label for="avalia">Avaliação:
                {% render_field form.id_avalia type='text' required='required' name='avalia'%}
                    </label>

            </div>
            <div>
               <input type="submit" value="Salvar" class="btn btn-primary ">
            </div>

        </div>

    </form>

    <div>
        <h1>Editar Postagem</h1>
        <table class="table">
        <th>
        <tr>
            <td>Id</td>
            <td>Autor</td>
            <td>Data</td>
            <td>Título</td>
            <td>Conteúdo</td>
            <td>Editar</td>
            <td>Excluir</td>
        </tr>
        </th>
            {% for post in posts %}
                <tr>
                    <td>{{ post.id_postagem }}</td>
                    <td>{{ post.autor_postagem }}</td>
                    <td>{{ post.data_postagem }}</td>
                    <td>{{ post.titulo_postagem }}</td>
                    <td>{{ post.conteudo_postagem }}</td>
                    <td><a href="{% url 'editar_post' post.id_postagem %}"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(255,150,20)" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
  <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
</svg></a></td>
                    <td><a href="{% url 'deleta_post' post.id_postagem %}"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(255,50,20)" class="bi bi-archive-fill" viewBox="0 0 16 16">
  <path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1M.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8z"/>
</svg></a></td>
                </tr>
            {% endfor %}

        </table>

    </div>


{% endblock content %}